<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-yk1Z0h0HcUeFxE0TkTYuYhJK3z1Cv4Aa8nKmYc0Gv5MHnj7R+0qmqWgopdFKvF9EyLl0w+6q52feZxhVjRY0lA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HabitTracker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
     
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/habittracker" Match="NavLinkMatch.All">
                <span class="oi oi-clock" aria-hidden="true"></span> Habit Tracker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exercise-timer" Match="NavLinkMatch.All">
                <span class="oi oi-target" aria-hidden="true"></span> Exercise
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/routines" Match="NavLinkMatch.All">
                <span class="oi oi-clock" aria-hidden="true"></span> Routine
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/food" Match="NavLinkMatch.All">
                <span class="oi oi-heart" aria-hidden="true"></span> Healthy Diet
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/articles" Match="NavLinkMatch.All">
                <span class="oi oi-layers" aria-hidden="true"></span> Articles
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
    